# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcuserstate
*.xcworkspace
xcuserdata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/

# macOS
.DS_Store
*.swp
*~

# IDEs
*.idea/
*.hmap

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive
